.layout-dialog form.legend {
  [id^='layout-legend-lineHeight-fieldset-'] .fr-input-group {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    * {
      display: flex;
      width: 100%;
    }
    input {
      width: 6rem;
    }
  }

  .legend-item-list {
    background-color: var(--background-alt-grey);
    margin: 0 -1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border: 0;

    .legend-title,
    .legend-item {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0.75rem 0.5rem;
      border-radius: 0.25rem;
      height: 4.25rem;
      background-color: var(--background-default-grey);
      overflow: hidden;

      span {
        max-width: 7rem;
      }
    }
    .legend-title {
      canvas {
        display: none;
      }
      span {
        max-width: 10rem;
        font-weight: bold;
      }
    }

    .legend-container__mask {
      position: absolute;
      background-color: var(--background-default-grey);
      inset: 0;
      display: none;

      textarea {
        margin: 0.3rem 0.5rem;
        width: 100%!important;
        min-height: 3.75rem;
        max-height: 3.75rem;
      }
    }
    .legend-item.edit .legend-container__mask {
      display: flex;
    }

    &:disabled {
      pointer-events: none;
      * {
        color: var(--text-disabled-grey);
      }
      canvas {
        opacity: 0.5;
      }
    }
  } 
}

.ol-control.legendBt {
  filter: drop-shadow(var(--raised-shadow));
  background-color: var(--background-raised-grey);
  button {
    outline: unset;
  }
}
.ol-viewport.ol-ready .ol-control.ol-legend {
  padding-left: 3rem;
}