@use 'dsfrign/src/module/media-query/mixin/respond-from' as rf;

.ignf-panel {
  margin: 0;
  padding: 0;
  border: none;
  bottom: 0;
  width: 100%;
  max-height: 80%;
  // overflow-y: auto;

  @include rf.respond-from('sm') {
    width: 380px;
    top: 120px;

    &.ignf-panel__left {

      left: 0.5rem;
      width: 330px;
    }

    &.ignf-panel__right {
      right: 4rem;
      left: auto;
    }
  }


  &__header {
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    color: var(--text-action-high-blue-france);
    background-color: var(--background-open-blue-france);

    .ignf-panel__title {
      display: flex;
      gap: 0.5rem;
    }

    .ignf-panel__buttons {
      display: flex;
    }
  }
  
  &__content {
    padding: 0 0.75rem 1.5rem;
  }

  &:has(.fr-tabnav.fr-hidden) {
    .ignf-panel__content {
      padding-top: 1.5rem;
    }
  }


}
