@use '../../css/mixins.scss' as mx;

.input-style-select-grid {

  > .input-style__container[data-type="icon"] {
    > span {
      color: var(--text-label-grey);
    }
  }
  .input-style {
    &__options-container {
      @include mx.respond-from('sm') {
        width: 19rem;
      }

      &-content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem; 

        > *:not(.input-style__options-container-header) {
          padding: 0.25rem;
        }
      }
    }
  }
}
