@use '../../css/mixins.scss' as mx;

.input-style {
  // display: flex;
  // flex-direction: column;
  background-color: var(--background-default-grey);

  &--label {
    width: auto;
    flex: 1;

    + .input-style--container {
      margin-top: 0.5rem;
    }
  }

  &--container {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--border-default-grey);
    border-radius: 0.25rem;

    &:has(input:focus:focus-visible) {
      outline-color: #0a76f6;
      outline-offset: 2px;
      outline-style: solid;
      outline-width: 2px;
    }
  }

  &--input {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;

    &:focus:focus-visible {
      outline-style: none;
    }
  }

  // & &--separator {
  //   display: block;
  //   top: 0;
  //   width: 1px;
  //   height: 32px;
  //   margin: 0.25rem 0;
  //   border-left: 1px solid var(--border-default-grey);
  // }

  // &--options-container {

  // }
}
