@use '../../css/mixins.scss' as mix;

.style-form {
  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  &__preview {
    .fr-label + canvas {
      margin-top: 0.5rem;
    }
    > canvas {
      border-radius: 0.25rem;
      border: 1px solid var(--border-default-grey);
    }
  }
}
