@use '../../css/mixins.scss' as mx;

.input-style-number {
  .input-style--container {
    & > .input-style--buttons-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      > .input-style--button-up,
      > .input-style--button-down {
        height: 1rem;
        min-height: 1rem;
        max-height: 1rem;
      }
    }
  }

  .input-style--input {
    text-align: center;

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type='number'] {
      -moz-appearance: textfield;
      appearance: textfield;
    }
  }
}
