@use '../../css/mixins.scss' as mix;

.input-style--icon {
  .input-style {
    &__options-container {
      &-content {
        > button[data-type='icon'][data-value] {
          --hover: inherit;
          --active: inherit;
          @include mix.button-state($text-color: var(--text-label-grey), $background: transparent);
        }
      }
      // display: flex;
      &-header {
        background-color: var(--background-overlap-grey);
        padding: 1rem 1rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        p {
          margin: 0;
        }

        > .recent-icons {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          > .input-style__options-container-content {
            padding: 0;
          }
        }
      }
      &.input--searching {
        > .input-style__options-container-content {
          > button {
            display: none;

            &.match {
              display: flex;
            }
          }
        }
      }
    }
  }
}

// Pour icônes remix-icon
[class^='ri-'][class^='fi-']::before,
[class*='ri-'][class*='fi-']::before {
  font-family: 'remixicon' !important;
}
