.style-form {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  width: 100%;
  flex-wrap: wrap;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    hr {
      width: 100%;
      height: 0;
      background: transparent;
      padding: 0;
      display: none;
    }
    > :last-child {
      margin-top: 0.25rem;
    }

    .fr-select-group,
    .fr-input-group {
      margin: 0;
      flex: 0 0 auto;
      width: 30%;
      height: 4.5em;
      display: none;

      input {
        max-width: 100%;
        height: 100%;
      }
      input[type="number"] {
        padding-right: 0.5em;
        text-align: right;
      }
      input[type="color"] {
        padding: 0.1em 1.5em 0.1em 1.5em;
      }
      select {
        max-width: 100%;
      }
    }
  }
}
.GPF-dialog__content {
  &.Point {
    [data-property^="point"] {
      display: block;
    }
  }
  &.Polygon {
    [data-property^="fill"],
    [data-property^="stroke"] {

      display: block;
    }
  }
  &.LineString {
    [data-property^="stroke"] {
      display: block;
    }
  }
}
