.style-form {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  width: 100%;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > :last-child {
      margin-top: 0.25rem;
    }

    .fr-select-group,
    .fr-input-group {
      margin: 0;
      flex: 0 0 auto;
      width: 30%;

      input,
      select {
        max-width: 100%;
        height: 100%;
      }
    }
  }
}
