@use '../../css/mixins.scss' as mix;

.GPF-dialog[id^=style-dialog] {
  @include mix.respond-from("sm") {
    top : 4rem;
  }

  .fr-nav.fr-tabnav {
    margin-bottom: 0;
  }

  .GPF-dialog__content {
    background: var(--background-contrast-grey);
    padding: 0.75rem;

    .style-form__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .style-form-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 0.75rem;
      }

      .style-btn-container {
        position: relative;
        display: inline-block;
      
        .style-popup {
          position: relative;
          display: inline-block;

          &>div {
            display: none;
            position: fixed;
            background: var(--background-default-grey);
            box-shadow: 0 2px 6px 0 var(--shadow-color);
            z-index: 10;
            top: 0;
            width: max-content;
            
            & > .style-popup-title {
              padding: 0.25rem 0.5rem ;
              border-bottom: 1px solid var(--border-default-grey);
              margin: 0 0 0.25rem 0;
              display: block;

              &:before {
                --icon-size: 1rem;
                margin-right: 0.5rem;
              }
            }
            .style-popup-content { 
              padding: 0.5rem;

              .fr-btn {
                margin: 0.5rem 0 0;
                width: 100%;
                display: inline-block;
                text-align: center;
              }
            }
          }

          button[aria-pressed="true"] + div {
            display: block;
          }

        }
      }
    }

    [id^=tabNavContent] {
      background: var(--background-default-grey);
      padding: 0.75rem;
      
      .style-form > span.fr-hint-text {
        margin: 0 -0.75rem;
        padding: 0.5rem 0.75rem 0;
        width: calc(100% + 1.5rem);
        border-top: 1px solid var(--border-default-grey);
      }
    }
  }
}