@use 'dsfrign/src/module/media-query/mixin/respond-from' as rf;

.ol-control.ol-bar.step-bar.ol-bar--row .ol-toggle.action-button {
  > button {
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    padding: 0;
    > i {
      display: unset;
    }
    > span {
      display: none;
    }

    @include rf.respond-from('xl') {
      height: unset;
      width: unset;
      font-size: unset;
      padding: 0.5rem 1rem;
      > i {
        display: none;
      }
      > span {
        display: unset;
      }
    }
  }
}

.ol-control.ol-bar.step-bar.ol-bar--row {
  &.ol-top .ol-button {
    &.share-button,
    &.save-button {
      display: none;
    }
    @include rf.respond-from('md') {
      &.share-button {
        display: unset;
      }
    }
    @include rf.respond-from('lg') {
      &.save-button {
        display: unset;
      }
    }
  }
}

.ol-control.ol-bar.ol-top.ol-bar--row.step-bar {
  display: none;

  @include rf.respond-from('sm') {
    display: flex;
  }
}
