@use '../../css/mixins.scss' as mix;

.ol-control.ol-bar.step-bar.ol-bar--row .ol-toggle.action-button {
  > button {
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    padding: 0;
    > i {
      display: unset;
    }
    > span {
      display: none;
    }

    @include mix.respond-from('xl') {
      height: unset;
      width: unset;
      font-size: unset;
      padding: 0.5rem 1rem;
      > i {
        display: none;
      }
      > span {
        display: unset;
      }
    }
  }
}

.ol-control.ol-bar.step-bar.ol-bar--row {
  &.ol-top .ol-button {
    @include mix.respond-from('sm') {
      &.share-button,
      &.save-button {
        display: none;
      }
    }
    @include mix.respond-from('md') {
      &.share-button {
        display: flex;
      }
    }
    @include mix.respond-from('lg') {
      &.save-button {
        display: flex;
      }
    }
  }
}

.ol-control.ol-bar.ol-top.ol-bar--row.step-bar {
  width: calc(75% + 2rem);

  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 0;
  top: 0;
  margin: 0;
  right: 0;
  padding: 0.5rem;
  border-radius: 0;
  filter: none;
  box-shadow: inset 0 -1px var(--border-default-grey);
  z-index: 3;

  &.ol-bar--fixed {
    position: absolute;

    @include mix.respond-from('sm') {
      top: calc(3rem + 0.5rem);
      position: fixed;

      @media (display-mode: fullscreen) {
        top: 0;
      }
    }
  }

  > div {
    text-align: center;
    background-color: transparent;

    button {
      display: inline-block;
    }

    &.ol-button {
      display: flex;
      justify-content: center;
    }
  }

  > .ol-bar:first-child {
    padding: 0;

    @include mix.respond-from('md') {
      padding: 0 0.25rem 0 0;
    }
  }

  .ol-bar {
    justify-content: space-between;
    background-color: transparent;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    margin: 0;

    > div {
      background-color: transparent;
      justify-content: center;
      display: inherit;
      width: 100%;
    }
    .ol-button {
      border-left: 1px solid var(--border-default-grey);
      border-radius: 0;
    }
  }

  @include mix.respond-from('sm') {
    filter: drop-shadow(var(--raised-shadow));
    box-shadow: none;
    border-bottom: none;
    display: flex;
    width: unset;
    margin: 0.5rem;
    padding: 0.25rem;
    border-radius: 0.25rem;

    .ol-bar .ol-button {
      border: 0;
    }
  }
}
