@use '../../css/mixins.scss' as mix;

.layer-styles-container {
  > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &:first-child:not(:empty) {
      margin-bottom: 0.5rem;
    }
  }
}
