@use 'dsfrign/src/module/media-query/mixin/respond-from' as rf;

.ol-print-map {
  .gpf-widget {
    display: none;
  }
}

.ol-ext-print-dialog {
  margin: 0;
  box-sizing: content-box;

  &.ol-visible {
    font-size: 1em;
  }
  input,
  select,
  textarea {
    font-size: 1em;
    appearance: auto;
    border: 1px solid #666;
    padding: 0.5em;
  }
}

// Hide permalink control
.ol-permalink {
  display: none !important;
}

.ol-scale-line {
  right: 3rem;
  margin: 0.5rem;
  bottom: 0;
}

div[id^='GPzoom-'] {
  top: auto;
  left: auto;
  right: 0.375rem;
}

div[id^='GPlayerSwitcher-'] {
  // mobile bar + research + gap
  top: calc(2.125rem + 4rem + 1.125rem);

  // Pas de recherche en mobile
  @include rf.respond-from('sm') {
    top: calc(0.5rem + 3rem + 2.5rem);
  }
}

// Temporaire, position de la barre full screen
.ol-control.ol-bar.ol-bottom.ol-right.temp-fullscreen-bar {
  bottom: 5.875rem;
}

[id^='GPsearchEngine-Advanced-'] {
  top: 3.75rem;
  width: 100%;
  left: 0;
  
  @include rf.respond-from('sm') {
    top: 0.625rem;
    width: 360px;
    left: calc(50% - 180px);
  }
}

// Mode mobile
@media not (pointer: fine) {
  .ol-scale-line {
    display: none;
  }

  div[id^='GPzoom-'] {
    display: none;
  }

  .ol-control.ol-bar.ol-bottom.ol-right.temp-fullscreen-bar {
    display: none;
  }
}

.ol-viewport .ol-control.gpf-simple-menu {
  background-color: var(--background-default-grey);
  border-radius: 0;
}