// @use 'dsfrign/dsfr/src/module/media-query/mixin/' as rf;
@use 'dsfrign/src/module/media-query/mixin/respond-from' as rf;

[data-role='map'] {
  flex: 1;
  width: 100%;
  height:100%;
}

// // AIDE POUR LES BREAKPOINTS
// body,
// .fr-header__navbar,
// .fr-header__tools {
//   background-color: #e59dff;
//   @include rf.respond-from('sm') {
//     background-color: #92f4fb;
//   }
//   @include rf.respond-from('md') {
//     background-color: #aeff82;
//   }
//   @include rf.respond-from('lg') {
//     background-color: #fbe05b;
//   }
//   @include rf.respond-from('xl') {
//     background-color: #ffaaaa;
//   }
// }
