@use './mixins.scss' as mx;

.ol-touch {
  .ol-control button:not([class*='ri-']) {
    font-size: inherit;
  }

  .ol-control.ol-bar.ol-top {
    &,
    &.ol-left,
    &.ol-right {
      top: 0;

      @include mx.respond-from('sm') {
        top: 0.5rem;
      }
    }
  }
}
