@use '../../css/mixins.scss' as mx;

.ol-control.ol-bar .ol-button button.map-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  font-style: normal;
  height: auto;
  width: 100%;
  padding: 0.5rem 1rem;
  height: auto;
  min-height: auto;
  border-radius: 0.25rem;

  &:not(:disabled) {
    @include mx.button-state($text-color: var(--text-action-high-grey));
  }
}

.ol-control.ol-top.ol-bar--separator.ol-bar.map-handle > .ol-button:first-child {
  padding: 0;

  @include mx.respond-from('md') {
    padding: 0 0.25rem 0 0;
  }
}

// action-bar
.ol-control.ol-bar .ol-control.ol-text-button {
  &.map-title {
    display: none;
    // white-space: pre-wrap;

    @include mx.respond-from('md') {
      display: block;
      width: 132px; // 8.25rem;
    }

    @include mx.respond-from('xl') {
      // display:block;
      width: 278px; // 17.375rem;
    }
  }

  &.map-title,
  &.file-name {
    > div {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &.file-name > div {
    font-size: 0.875rem;
    &:not(:disabled) {
      @include mx.button-state($text-color: var(--text-disabled-grey));
    }
  }
}

.ol-control.ol-bar.map-handle .ol-control.ol-bar.map-file-actions {
  padding: 0 1rem 1rem;
  border-radius: 0;
  width: 100vw;
  left: 0;
  position: fixed;
  top: 7rem;
  filter: drop-shadow(var(--raised-shadow));

  @include mx.respond-from('sm') {
    width: 330px;
    border-radius: inherit;
    left: -0.25rem;
    position: absolute;
    top: calc(100% + 0.5rem + 0.25rem);
  }

  > .action-bar {
    padding: 0;
  }
}

.ol-control.ol-top.ol-bar--separator.ol-bar.map-handle {
  display: flex;
  width: calc(25% - 1rem);
  top: 0;
  left: 0;
  padding: 0.5rem;
  margin: 0;
  filter: none;
  box-shadow: inset 0 -1px var(--border-default-grey);

  > div:first-child {
    margin: auto;
  }

  .ol-option-bar {
    text-align: initial;
  }

  @include mx.respond-from('sm') {
    box-shadow: inherit;
    filter: drop-shadow(var(--raised-shadow));
    border-bottom: none;
    display: flex;
    margin: 0.5rem;
    width: unset;
    padding: 0.25rem;
  }
}
