@use 'dsfrign/src/module/media-query/mixin/respond-from' as rf;

.ol-control.ol-bar.ol-right.edit-bar {
  transform: unset;
  // top: calc(6.5rem + 2.625rem);
  // switcher + taille switcher + espace
  top: calc(7.25rem + 2.625rem + 0.5rem);

  .gpf-widget {
    position: unset;

    > button {
      color: var(--text-action-high-blue-france);

      &:not([aria-extended='true']):not([aria-pressed='true']) {
        &:not(:hover):not(:active) { 
          background-color: var(--background-default-grey);
        }
      }
    }
  }
  @include rf.respond-from('sm') {
    // switcher + taille switcher + espace
    top: calc(6rem + 2.625rem + 0.5rem);
  }
}

.GPF-dialog {
  @include rf.respond-from('sm') {
    // switcher + taille switcher + espace
    top: calc(6rem + 2.625rem + 0.5rem);
  }

  &#style-dialog {
    min-height: 300px;
  }
}
