.map-list {
  width: 100%;
  position: relative;

  input {
    padding-right: 2.5rem;
    margin-bottom: 1.5rem;
  }
  input + [class^='fr-icon-'] {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }

  .map-list__list {
    // padding: 0.3rem;
    max-height: calc(100vh - 30rem);
    max-height: calc(100svh - 30rem);
    overflow: auto;
  }

  .ol-map-card {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 0.75rem 1rem;
    gap: 0.5rem;
    width: auto;
    color: var(--text-default-grey);
    --active-tint: var(--active);

    &__info {
      display: flex;
      width: fit-content;
      flex-direction: column;
      overflow: hidden;
    }

    &__title {
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__details {
      font-weight: 400;
      color: var(--text-mention-grey);
    }

    &:hover {
      background-color: var(--hover-tint);
    }

    &:active {
      background-color: var(--active-tint);
    }

    &[aria-current='true'] {
      background-color: var(--hover-tint);

      &:active {
        background-color: var(--active-tint);
      }
    }
  }
}
