@use './header.scss';
@use './footer.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Marianne, arial, sans-serif !important;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 90vh;
  min-height: 650px;
  max-height: calc(100vh - 3.25rem);
  overflow: hidden;
}

dialog {
  background-color: var(--background-default-grey);
}
