@use './header.scss';
@use './footer.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Marianne, arial, sans-serif !important;
}

body {
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    position: relative;
    height: calc(100vh - 3.5rem);
    min-height: 620px;
    overflow: hidden;
  }

  &.compact {
    main {
      flex: 0 1 auto;
      min-height: calc(100vh - 8.125rem);
    }
  }
}

dialog {
  background-color: var(--background-default-grey);
}
