@use 'dsfrign/src/module/media-query/mixin/respond-from' as rf;

/* HEADER-FOOTER */
@include rf.respond-from('lg') {
  .fr-header .fr-footer {
    display: none;
  }
}

footer.fr-footer {
  .fr-footer__logo {
    max-height: 5.625rem;
  }

  // Bouton d'expansion : caché par défaut
  > button.btn-more-info {
    display: none;
  }

  // Mode compact
  &--compact {
    display: none;

    @include rf.respond-from('lg') {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
    }

    &:has(button.btn-more-info[aria-expanded='true']) {
      flex-direction: column;
      align-items: unset;

      > div[class^='fr-container'] {
        padding: 1rem 0.75rem 0;
      }

      .fr-footer__brand.fr-enlarge-link {
        margin: 0;
      }
    }

    padding: 0 1rem 0 0.75rem;
    > div[class^='fr-container'] {
      padding: 0 0.25rem;
    }

    box-shadow: inset 0 2px 0 0 var(--border-plain-blue-france);

    .fr-footer__body,
    .fr-footer__partners,
    .fr-footer__bottom-copy {
      display: none;
    }

    button.btn-more-info {
      display: inline-flex;

      &[aria-expanded='true'] {
        margin: 1rem 0 0.625rem auto;

        & ~ div {
          .fr-footer__partners,
          .fr-footer__bottom-copy {
            display: block;
          }
          .fr-footer__body {
            display: flex;
          }
          .fr-footer__bottom-list {
            display: none;
          }
        }
      }

      &[aria-expanded='false'] {
        margin-top: 1px;
        color: var(--text-mention-grey);

        ~ div .fr-footer__bottom {
          box-shadow: none;
          margin-top: 0.125rem;
          padding: 0;

          &-list {
            padding: 0.125rem 0;
          }
        }
      }
    }
  }
}
