@use 'dsfrign/src/module/media-query/mixin/respond-from' as rf;

/* HEADER */
header.fr-header {
  .fr-header__service {
    order: 3;
  }

  .fr-header__operator {
    margin-left: 0.125rem;
    padding: 0;
    > img {
      min-width: unset;
    }
  }

  &--compact {
    .fr-header__operator {
      > img {
        width: 26px;
        height: 28px;
      }
    }

    .fr-header__service-title > .fr-badge {
      display: none;
      margin-left: 0.625rem;

      @include rf.respond-from('sm') {
        display: inline-flex;
      }
    }
  }
}
