@use 'dsfrign/src/module/media-query/mixin/respond-from' as rf;

/* HEADER */
header {
  .fr-header__service-title > .fr-badge {
    display: none;
    margin-left: 0.625rem;

    @include rf.respond-from('sm') {
      display: inline-flex;
    }
  }

  .fr-header__operator {
    margin-left: 0.125rem;
    padding: 0;
    > img {
      min-width: unset;
      width: 26px;
      height: 28px;
    }
  }
}
